.ezy__featured25 {
	/* Bootstrap variables */
	--bs-body-color: #23262f;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-item-bg: #ffffff;
	--ezy-card-bg: #061237;
	--ezy-card-shadow: 0 24px 38px rgba(89, 88, 109, 0.27);

	background-color: var(--bs-body-bg);
	overflow: hidden;
	padding: 60px 0;
}

@media (min-width: 768px) {
	.ezy__featured25 {
		padding: 100px 0;
	}
}

/* Gray Block Style */
.gray .ezy__featured25,
.ezy__featured25.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__featured25,
.ezy__featured25.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-card-bg: rgb(11, 23, 39);
	--ezy-card-shadow: 0 24px 38px rgba(0, 0, 0, 0.27);
}

/* Dark Block Style */
.dark .ezy__featured25,
.ezy__featured25.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-card-bg: rgb(30, 39, 53);
	--ezy-card-shadow: 0 24px 38px rgba(0, 0, 0, 0.27);
}

.ezy__featured25-heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: var(--bs-body-color);
}

@media (min-width: 768px) {
	.ezy__featured25-heading {
		font-size: 45px;
		line-height: 45px;
	}
}

.ezy__featured25-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-color);
}

.ezy__featured25-icon {
	color: var(--ezy-theme-color);
	border-radius: 50%;
	font-size: 32px;
}

.ezy__featured25-bg-holder {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 350px;
	width: 100%;
}

@media (min-width: 991px) {
	.ezy__featured25-bg-holder {
		float: right;
		height: 100%;
	}
}

.ezy__featured25-title {
	color: var(--bs-body-color);
}

.ezy__featured25-content {
	color: var(--bs-body-color);
	opacity: 0.7;
}

.ezy__featured25-card {
	position: relative;
	margin: -50px 50px 0 50px;
	border-radius: 10px;
	overflow: hidden;
	border: none;
	box-shadow: var(--ezy-card-shadow);
	z-index: 11;
}

@media (min-width: 991px) {
	.ezy__featured25-card {
		position: absolute;
		top: 50px;
		bottom: 50px;
		left: 75%;
		right: 0;
		margin: 0;
	}
}

.ezy__featured25-card .card-body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ezy__featured25-card-content {
	background-color: var(--ezy-card-bg);
	color: #fff;
	border-radius: 10px;
	line-height: 1.6;
}

.ezy__featured25-card-content p {
	opacity: 0.8;
}